MedievalMerchant.Generators/bin
MedievalMerchant.Generators/obj
MedievalMerchant.Generators/.idea
MedievalMerchant.Generators.Tests/bin
MedievalMerchant.Generators.Tests/obj
MedievalMerchant.Generators.Tests/.idea
.idea